.menu-header a.nav-item {
    margin-right: 15px;
}

.menu-header a.nav-item:hover {
    text-decoration: underline;
}

section {
    margin-top: 70px;
    margin-bottom: 90px;
}

.fasilitas {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: .3s;
    background: transparent;
}

.fasilitas.active {
    background: #dc3545;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.fasilitas:hover {
    background: #dc3545;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.fasilitas .description {
    flex: 3 1;
    padding: 10px 20px 10px 10px;
    text-align: right;
}

.fasilitas .description.icon-left {
    order: 1;
    text-align: left;
}

.fasilitas .icon-des {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #dc3545;
    transition: .3s;
}

.fasilitas .icon-des img {
    margin-top: 15px;
    height: 50px;
    width: auto;
}

.fasilitas:hover .icon-des {
    background: white;
}

.fasilitas.active .icon-des {
    background: white;
}

.tentang-kami .description {
    line-height: 1.8;
    font-size: 17px;
    color: #555
}

ul.social {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.social li {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

ul.social img {
    height: 100%;
    width: 100%;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    transition: .3s;
}

.card:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.card .card-body img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

footer {
    background-color: #272727;
    color: #fff;
}

footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

footer ul.list-footer {
    list-style: none;
    padding: 0;
    color: #acacac;
}

footer ul.list-footer li { 
    margin-bottom: 4px;
}

.google-maps {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 200px;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px !important;
    width: 100% !important;
}

footer p {
    background: #222222;
}